Options All -Indexes
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php?get_tpl=$0 [QSA]

#<FilesMatch "\.(php)$">
#	Deny from all
#</FilesMatch>

<FilesMatch "index.(php)|ajax-filter.php|main.php|database.php$">
	Allow from all
</FilesMatch>